.section-aside {
    border: 1px solid var(--silverback);
    margin: 0;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    box-sizing: border-box;
 }
 
 .aside__text {
    font-style: italic;
    /* text-align: center via .text-center utility */
 }

/* ======================================
   RESPONSIVE MEDIA (if any)
  ====================================== */

/* BASE STYLES (Mobile ~ >= 0px) */
/* TABLET STYLES (Don't use unless special use) */
@media (min-width: 768px) {
}
/* DESKTOP STYLES */
@media (min-width: 1024px) {
}
