.hero--home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--space-md);
  }
  
  .hero__logo{
    width: 25%;
    padding: var(--space-md);
  }


  .hero__text h1{
    border: 1px solid var(--silverback);
    padding: var(--space-md);
  }

.hero__text p{
    border: 1px solid var(--silverback);
    padding: var(--space-md);
    font-style: italic;
  }

section .hero {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 0.5rem;
   text-align: center;
   width: 100%;
}

/* ======================================
   HERO SECTION FOR NONE index.html
  ====================================== */

/*hero--panel*/
section .page-hero {
   flex-direction: column;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   padding: 2rem calc(2rem + 0.5rem);
   margin: 0 auto;
   max-width: 800px;
}

section .page-hero .hero__eyebrow {
   color: var(--blue-sour);
   font-size: 0.9rem;
   font-weight: 400;
   letter-spacing: 0.05em;
   margin: 0 0 0.75rem 0;
   text-transform: uppercase;
}

section .page-hero .hero h1 {
   margin: 0;
   padding: 0;
   font-size: 2.5rem;
   font-weight: 400;
   text-transform: none;
}

/*add .muted to HTML*/
section .page-hero .hero__tagline {
   margin: 0;
   padding: 0;
   color: var(--G-txt-color); /*override*/
}

/* ======================================
   RESPONSIVE MEDIA (if any)
  ====================================== */

/* BASE STYLES (Mobile ~ >= 0px) */
/* TABLET STYLES (Don't use unless special use) */
@media (min-width: 768px) {
}
/* DESKTOP STYLES */
@media (min-width: 1024px) {
}
