/* ======================================
   IMPORTS
  ====================================== */
@import "css/home.css";
@import "css/header.css";
@import "css/hero.css";
@import "css/target.css";
@import "css/aside.css";
@import "css/process.css";
@import "css/technology.css";
@import "css/personnel.css";
@import "css/footer.css";

@import "css/services.css";
@import "css/tables.css";
@import "css/calendar.css";
@import "css/roadmap.css";
@import "css/timeline.css";
@import "css/market.css";
@import "css/proposal.css";

*,
*::before,
*::after {
   box-sizing: border-box;
}

/* ======================================
   GLOBAL TOLKEN STYLES
  ====================================== */
:root {
  /* GLOBAL VALUES */
  /* COLOR TOKENS */
  --nero: #252525;
  --nero-light: #464646;
  --silverback: #afafaa;
  --mosswash: #f3f2e5;
  --offwhite: #f0eedc;
  --pattens: #cfe2f3;
  --mutedpattens: #e4f5ff;
  --gray: #717171;
  
  --blue-sour: #1e6c93;
  
  --camel: #8f6448;
  --walnut: #644332;
  --appleseed: #a67c52;
  
  --red: #a32023;
  --terracottaroof: #a34547;
  --Kuwazome: #532728;
  
  --yellow: #d89c1f;
  --leather: #c8a255;
  --riverpanned: #ac7e1e;
  
  --green: #115f45;
  --verdant: #364640;
  --camo: #7c8f4b;
  --unakite: #71a34b;
  
  --blue: #1d3a65;
  --incremental: #113056;
  --kakitsubata: #3d67a5;
  
  --purple: #3f1f4a;
  --royale: #490072;
  --lilac: #7b4b8c;
  --portage: #8f86d8;

  /* SIZING TOKENS */
  --space-2xs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 0.75rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
  --target-gap: 2rem;
  --target-padding: var(--space-md);
  --target-max-width: 90%;
  --target-card-max-width: 33.333%;
  
  /* COLOR STYLES */
  --G-txt-color: var(--nero);
  --G-bkg-clr: var(--mosswash);
  --G-bkg-clr_header: var(--nero);
  --G-bkg-clr_subheader: var(--nerolight);
  --G-link-clr: var(--blue);
  --G-acnt-suttle: var(--silverback);
  --G-acnt-linkbox: var(--pattens);
  --G-acnt-linkboxhvr: var(--mutedpattens);
  --G-acnt-muted: var(--gray);
  --G-acnt-contrast: var(--offwhite);
  
  /* GLOBAL VARIABLES */
  --G-font: "Lato", sans-serif;
}

body {
  box-sizing: border-box;
  width: 100%%;
  margin: 0 auto;
  
  font-family: var(--G-font);
  background-color: var(--G-bkg-clr);
  color: var(--G-txt-clr);
  text-align: center;
}

section {
  box-sizing: border-box;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: transparent;
}

/* ======================================
   RESPONSIVE DESIGN FOR MAIN STYLES (if any)
  ====================================== */

/* BASE STYLES (Mobile ~ >= 0px) */
/* TABLET STYLES (Don't use unless special use) */
@media (min-width: 768px) {
}
/* DESKTOP STYLES */
@media (min-width: 1024) {
}

/* ======================================
   UTILITY CLASSES
  ====================================== */
.divider {
   border: none;
   border-top: 1px solid var(--G-acnt-suttle);
}

.box {
  border: 1px solid var(--G-acnt-suttle);
  box-sizing: border-box;
  white-space: nowrap;
}

img {
   width: 100%;
   height: 100%;
   object-fit: contain;
   display: block;
}

/*img-container*/
.imgbox {
   box-sizing: border-box;
   height: 100%;
   object-fit: contain;
   display: block;
}

/*footer__button*/
/*header__button*/
.imgbtn {
  box-sizing: border-box;
  height: 100%;
  object-fit: contain;
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  flex-shrink: 0;
}

a {
   color: var(--G-link-clr);
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

h2 {
  font-weight: bold;
  color: var(--blue-sour);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

h3 {
  font-size: 1rem;
  color: var(--blue-sour);
  font-size: 1rem;
  display: flex;
  align-items: center;
}

/*footer__block*/
h4 {
  color: var(--blue-sour);
  justify-self: center;
  font-weight: bold;
}

/*section-subtitle*/
.muted {
  color: var(--G-acnt-muted);
  font-style: italic;
  font-size: 0.75rem;
}

.align-l {
   text-align: left;
}

.align-r {
   text-align: right;
}

.btn {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   font-weight: 600;
}

.btn:hover {
   text-decoration: none;
   filter: brightness(1.05);
}

/*header__nav-link*/
/* subheader__nav-link*/
.btn_nav {
  box-sizing: border-box;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 600;
  padding: 0.25rem 0.25rem;
  
  color: var(--G-link-clr);
}

/* subheader__nav-link--active*/
.btn_nav:hover {
  font-weight: 600;
  text-decoration: underline;
}

.btn_link {
  height: 3rem;
  min-width: calc(3rem * 2.5);

  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0.75rem 2.5rem;
  box-sizing: border-box;
  white-space: nowrap;

  border-radius: 50%;
  background-color: var(--G-acnt-linkbox);

  font-weight: bold;
  text-decoration: underline;
  color: var(--G-txt-color);
}

.btn_link:hover {
  background-color: var(--G-acnt-linkboxhvr);
  cursor: pointer;
}
